<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form method="POST" action="/addbook">
        <label>Name: <input type="text" name="name"></label><br>
        <label>Author: <input type="text" name="author"></label><br>
        <label>Year Published: <input type="text" name="yearPublished"></label><br>
        <label>Type: <input type="text" name="type"></label><br>
        <input type="submit" value="Add Book">
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
