{% extends "index.html" %}

{% block title %}Add Loan{% endblock %}

{% block heading %}Add a New Loan{% endblock %}

{% block content %}
<h3 style="text-align: center;">Loan a Book</h3>
<div class="container center-align">
<form method="POST" action="/addloan">
    <div>
        <label for="book_id">Book ID</label>
        <input type="text" name="book_id" id="book_id" required>
    </div>
    <div>
        <label for="cust_id">Customer ID</label>
        <input type="text" name="cust_id" id="cust_id" required>
    </div>
    <button type="submit">Add Book</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}
