{% extends "index.html" %}

{% block title %}Library - Display Loans{% endblock %}

{% block content %}
<div>
    <nav class="nav-wrapper" style="background-color: black;">
        <ul id="nav-mobile" class="centered-nav">
        <li><a href="/loans">Display all loans</a></li>
        <li><a href="/loans/addloan">Loan a book</a></li>
        <li><a href="/loans/lateloans">Display late loans</a></li>
        </ul>
    </nav>
    <div class="row">
        {% for loan in loans %}
        <div class="col s2 m2">
            <div class="card">
                <div class="card-content">
                    <p>Loan date: {{ loan[1] }}</p>
                    <p>loan return date: {{ loan[2] }}</p>
                    <p>Customer ID:{{ loan[3] }}</p>
                    <p>Book ID: {{ loan[4] }}</p>
                    <img src="https://picsum.photos/200/30{{loan[0]}}">
                </div>
                <div class="card-action">
                    <form method="POST" action="{{ url_for('removeLoan') }}">
                        <input type="hidden" name="book_id" value="{{ loan[4] }}">
                        <button type="submit" class="btn red">Return Book</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
  
</div>
{% block inner_content %}{% endblock %}
{% endblock %}
