{% extends "index.html" %}

{% block title %}Library - Display Customers{% endblock %}

{% block content %}
<nav class="nav-wrapper" style="background-color: black;">
    <ul id="nav-mobile" class="centered-nav">
        <li><a href="/customers">Display all Customers</a></li>
        <li><a href="/customers/addcustomer">Add a customer</a></li>
        <li><a href="/customers/customerfinder">Search a customer</a></li>
    </ul>
</nav>

{% for customer in customers %}
<div class="container">
    <div class="col s2 m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ customer[1] }}</span>
                <p><strong>Customer ID:</strong> {{ customer[0] }}</p>
                <p><strong>City:</strong> {{ customer[2] }}</p>
                <p><strong>Age:</strong> {{ customer[3] }}</p>
                <img src="https://picsum.photos/200/30{{customer[0]}}">
            </div>
            <div class="card-action">
                <form method="POST" action="{{ url_for('removeCustomer') }}">
                    <input type="hidden" name="customer_id" value="{{ customer[0] }}">
                    <button type="submit" class="btn red">Remove Customer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% block inner_content %}{% endblock %}
{% endblock %}